body{
    background-color: navy;
}
iframe{
    background-color:black;
    border:none;
}
#kedrioIframe{
    width:50%;
    height:100%;
}
h1{
    display:flex;
    justify-content:center;
    color:green;
    font-size: 50px;
}